*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Quicksand', sans-serif;
  background: 'repeating-linear-gradient(100deg, #fff, #fff 49.9%, #FFCC01 50.1%, #FFCC01 100%)',

}
body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f9f9f9;
}
